@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"),
    url(./fonts/IBMPlexSans-Medium.ttf) format("truetype");
}

h2 {
  color: #6a2ea0;
  font-family: IBM Plex Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

h3 {
  font-family: IBM Plex Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
