// <header className="header__container">
// <h1>Þjónustusíður</h1>
// <div className="header__container__user">
//     <div className="header__user">
//     Unnar Snær Bjarnason
//     <div className="header__container-logout">
//         <button className="header__button__logout" onClick={() => this.logout()}>Útskrá</button>
//     </div>
//     </div>
// </div>
// </header>

header {
  width: 100%;
  height: 112px;
  background: #ffffff;
  display: flex;
  flex-wrap: no-wrap;

  h1 {
    flex-basis: 20%;
  }

  .header__container__user {
    display: flex;

    .header__user {
      justify-content: flex-end;
    }
  }
}
